<h1><%= "Cocktail Shmocktail Lounge" %></h1>
<h2><%= "Our Menu..." %></h2>

<div = class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-6 col-lg-4 offset-xs-4">
        <div class="card">
          <div class="card_title">
            <h1><%= link_to cocktail.name, cocktail %></h1>
          </div>
          <div class="card_description">
            <% cocktail.doses.each do |dose| %>
              <li><%= dose.ingredient.name %></li>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<a class="btn btn-primary btn-lg">Create a new Cocktail</a>

