<h1><%= "Cocktail Shmocktail Lounge" %></h1>
<h1><%= "Menu" %></h1>

<div = class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
    <h3><%= link_to cocktail.name, cocktail %></h3>
    <% cocktail.doses.each do |dose| %>
      <h3><%= dose.ingredient.name %></h3>
    <% end %>
    </div>
  <% end %>
</div>

