.cocktail-container {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 1px grey;
}


#name-badge {
  background-color: #123A5F;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.cocktail-info {
  display: flex;
  justify-content: space-between;
}

.cocktail-pic {
  max-width:100%;
  max-height:100%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;

  img {
    width: 100%;
  }
}

.cocktail-bio {
  width: 50%;
}

.cocktail-links {
  margin-top: 20px;
}
