<div class="banner">
  <div class="banner-content">
    <h1>Cocktail Smocktail Lounge</h1>
    <p>Redefining Classy Cocktails</p>
    <div class="cocktail-button">
      <%= link_to 'Create a new Cocktail', new_cocktail_path, class: "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>
