<div class="banner"
  <div class="banner-content">
    <h1>Cocktail Smocktail Lounge</h1>
    <p>Redefining Classy Cocktails</p>
    <a class="btn btn-primary btn-lg">Create a new Cocktail</a>
  </div>
</div>
