<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
   <%= image_tag "cocktail.jpg" %>
  </a>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">Home</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Our Mixologists</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Mixology Classes</a>
  </div>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">Our Mixologists</a></li>
        <li><a href="#">Mixology Classes</a></li>
      </ul>
    </div>
  </div>
</div>
