.container {
  display: flex;
  justify-content: space-around;
}

.card {
  height: 400px;
  min-width: 300px !important;
  margin: 10px !important;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px grey;
  display: flex;
  align-content: left;
  color: white;
}

.card:hover {
}

.card_description {
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card a {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.card a:hover {
  color: black;
  text-decoration: none;
}

.card li {
  font-size: 26px;
  padding-left: 15px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}






